
<section class="card centered">
  <h1>Passkey Required</h1>
  <form method="post" class="form">
    <label>Passkey</label>
    <input type="password" name="password" required/>
    <button class="btn">Enter</button>
  </form>
  <p class="muted">Must be obtained from California College of the Arts fantasy basketball club</code>.</p>
</section>
