<div class="gate-wrapper">
  <h2>Site Access Gate</h2>

  <form method="post">
    <label>Permanent Gate Password</label>
    <input type="password" name="password1" placeholder="Your Code" required>



    <button class="btn">Enter</button>
  </form>
</div>
