<h1>Leaderboard</h1>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>User</th>
      <th>Balance</th>
    </tr>
  </thead>

  <tbody>
    <% users.forEach((u, i) => { %>
      <tr>
        <td><%= i + 1 %></td>
        <td>
       <a href="/user/<%= u.id %>"><%= u.username %></a>
        </td>
        <td>💰 <%= u.balance %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
