
<section class="card centered">
  <h1>Create account</h1>
  <form method="post" class="form">
    <label>Username</label>
    <input name="username" required/>
    <label>Password</label>
    <input type="password" name="password" required/>
    <button class="btn">Register</button>
  </form>
</section>
